[Unit]
Description=nginx tiny http server
Documentation=man:nginx(1)
After=network.target

[Service]
Environment=CONFIGFILE=/etc/nginx/nginx.cfg
ExecStart=/bin/nginx ${CONFIGFILE}
ExecReload=/bin/kill -SIGUSR1 $MAINPID
KillMode=process
Restart=on-failure
RestartSec=60s
LimitNOFILE=65536
LimitNPROC=32768
RuntimeDirectory=nginx

[Install]
WantedBy=multi-user.target
Alias=nginx.service